/* ================================================================================
   Estilos da Sidebar (Menu Lateral)
   ================================================================================ */

.dashboard-layout {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* 1. Sidebar (O menu que é injetado) */
.sidebar {
    width: 250px;
    padding: 20px;
    background: #292929; /* Cor de fundo da barra lateral */
    border-right: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    overflow-y: auto;
    padding-top: 0; 
    flex-shrink: 0;
}

/* 2. Estilo do Logo */
.logo{ 
    margin-top: 20px; 
    margin-bottom: 30px; 
    display: block; 
    max-width: 100px; 
}

/* 3. Estilo da Lista de Links */
.menu-list { 
    list-style: none; 
    padding: 0; 
}

/* Estilo Básico do Link */
.menu-list li a { 
    padding: 12px 10px; 
    margin-bottom: 8px; 
    border-radius: 8px; 
    color: #aaaaaa;
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    transition: 0.3s; 
}

/* Efeito Hover (Mouse sobre o link) */
.menu-list li a:hover { 
    background-color: rgba(187,134,252,0.1); 
    color: #ffffff; 
}

/* 4. Item Ativo */
.menu-list li .active-link-item { 
    background-color: #7b4ac4; 
    color: #ffffff !important;
    font-weight: 600; 
    box-shadow: 0 4px 8px rgba(123,74,196,0.4); 
}

/* Estilo do Ícone */
.menu-list i { 
    margin-right: 15px; 
}